<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.notfound.crm.sys.mapper.CustomertransferMapper">
    
    <resultMap id="BasCusMap" type="com.notfound.crm.sys.vo.CustomertransferVO">
        <id column="id" property="id"/>
        <result column="customer" property="customer.name"/>
        <result column="transUser" property="transUser.name"/>
        <result column="transTime" property="transTime"/>
        <result column="oldSeller" property="oldSeller"/>
        <result column="newSeller" property="newSeller"/>
        <result column="transReason" property="transReason"/>
    </resultMap>
    <select id="selectList" resultMap="BasCusMap">
        select c.id,c.customer,c.transUser,c.transTime,c.oldSeller,
               c.newSeller,c.transReason
        from customertransfer as c
        <where>
            <if test="keyword != null and keyword !=''">
                c.customer LIKE concat('%',#{keyword},'%')
            </if>
            <if test="startTime != null">
                and c.transTime >= #{startTime}
            </if>
            <if test="endTime != null">
               and c.transTime &lt;= #{endTime}
            </if>
        </where>
        order by c.transTime
    </select>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" >
        insert into customertransfer(customer,transUser,transTime,oldSeller,newSeller,transReason)
        values (#{customer},#{transUser}, #{transTime},#{oldSeller},#{newSeller},#{transReason})
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from customertransfer where id=#{id}
    </delete>



</mapper>