<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.notfound.crm.sys.mapper.CustomertraceMapper">
  <resultMap id="BaseResultMap" type="com.notfound.crm.sys.vo.CustomertraceVO">
    <!--@mbg.generated-->
    <!--@Table customertrace-->
    <result column="c_id" property="id"/>
    <result column="traceITime" property="traceitime" />
    <result column="traceDetails" property="tracedetails" />
    <result column="traceType" property="tracetype" />
    <result column="traceResult" property="traceresult" />
    <result column="type" property="type" />

    <result column="p_id" property="customerid.id"/>
    <result column="name" property="customerid.name"/>
    <result column="age" property="customerid.age"/>
    <result column="gender" property="customerid.gender"/>
    <result column="tel" property="customerid.tel"/>
    <result column="qq" property="customerid.qq"/>
    <result column="job" property="customerid.job"/>
    <result column="source" property="customerid.source"/>
    <result column="seller" property="customerid.seller"/>
    <result column="p_inputUser" property="customerid.inputuser"/>
    <result column="inputTime" property="customerid.inputtime"/>
    <result column="status" property="customerid.status"/>
    <result column="positiveTime" property="customerid.positivetime"/>

    <result column="e_id" property="inputuser.id"/>
    <result column="e_name" property="inputuser.name"/>
    <result column="email" property="inputuser.email"/>
    <result column="e_age" property="inputuser.age"/>
    <result column="dept" property="inputuser.dept"/>
    <result column="hireDate" property="inputuser.hiredate"/>
    <result column="e_state" property="inputuser.state"/>
    <result column="admin" property="inputuser.admin"/>
    <result column="role" property="inputuser.role"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, traceITime, traceDetails, traceType, traceResult, customerID, inputUser, `type`
  </sql>
  <select id="selectOne" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
   select
     c.id as c_id, c.traceITime, c.traceDetails, c.traceType, c.traceResult, c.`type`,
        p.id as p_id, p.`name`, p.age, p.gender, p.tel, p.qq, p.job, p.`source`, p.seller, p.inputUser as p_inputUser, p.inputTime, p.`status`,p.positiveTime,
        e.id as e_id, e.`name` as e_name, e.email, e.age as e_age, e.dept, e.hireDate, e.`state` as e_state, e.`admin`, e.`role`
    from customertrace as c
    inner join potentialcustomer as p
    on c.customerID = p.id
    inner join employee as e
    on c.inputUser = e.id
  </select>

    <!--分页以及模糊查询-->
  <select id="selectList" resultMap="BaseResultMap">
    select
     c.id as c_id, c.traceITime, c.traceDetails, c.traceType, c.traceResult, c.customerID, c.inputUser as c_inputUser, c.`type`,
        p.id as p_id, p.`name`, p.age, p.gender, p.tel, p.qq, p.job, p.`source`, p.seller, p.inputUser as p_inputUser, p.inputTime, p.`status`,p.positiveTime,
        e.id as e_id, e.`name` as e_name, e.email, e.age as e_age, e.dept, e.hireDate, e.`state` as e_state, e.`admin`, e.`role`
    from customertrace as c
    inner join potentialcustomer as p
    on c.customerID = p.id
    inner join employee as e
    on c.inputUser = e.id
    <where>
            <if test="type != null">
                (type = #{type})
            </if>
            <if test="self != null">
              and  (seller = #{self})
            </if>
            <if test="startTime != null">
              and  (traceitime &gt; #{startTime})
            </if>
            <if test="endTime != null">
              and  (traceitime &lt; #{endTime})
            </if>
            <if test="keyword != null and keyword != ''">
              and  (p.name like concat('%',#{keyword},'%') or p.tel like concat('%',#{keyword},'%'))
            </if>
    </where>
    order by p.inputTime desc
  </select>

  <delete id="delete" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from customertrace
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.notfound.crm.sys.form.CustomertraceForm" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into customertrace (traceITime, traceDetails, traceType, traceResult, customerID,
      inputUser, `type`)
    values (#{traceitime}, #{tracedetails}, #{tracetype}, #{traceresult}, #{customerid.id},
      #{inputuser.id}, #{type})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.notfound.crm.sys.form.CustomertraceForm" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into customertrace
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="traceitime != null">
        traceITime,
      </if>
      <if test="tracedetails != null">
        traceDetails,
      </if>
      <if test="tracetype != null">
        traceType,
      </if>
      <if test="traceresult != null">
        traceResult,
      </if>
      <if test="customerid.id != null">
        customerID,
      </if>
      <if test="inputuser.id != null">
        inputUser,
      </if>
      <if test="type != null">
        `type`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="traceitime != null">
        #{traceitime},
      </if>
      <if test="tracedetails != null">
        #{tracedetails},
      </if>
      <if test="tracetype != null">
        #{tracetype},
      </if>
      <if test="traceresult != null">
        #{traceresult},
      </if>
      <if test="customerid.id != null">
        #{customerid.id},
      </if>
      <if test="inputuser.id != null">
        #{inputuser.id},
      </if>
      <if test="type != null">
        #{type},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.notfound.crm.sys.form.CustomertraceForm">
    <!--@mbg.generated-->
    update customertrace
    <set>
      <if test="traceitime != null">
        traceITime = #{traceitime},
      </if>
      <if test="tracedetails != null">
        traceDetails = #{tracedetails},
      </if>
      <if test="tracetype != null">
        traceType = #{tracetype},
      </if>
      <if test="traceresult != null">
        traceResult = #{traceresult},
      </if>
      <if test="customerid.id != null">
        customerID = #{customerid.id},
      </if>
      <if test="inputuser.id != null">
        inputUser = #{inputuser.id},
      </if>
      <if test="type != null">
        `type` = #{type},
      </if>
    </set>
    where id = #{id}
  </update>
</mapper>