<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.notfound.crm.sys.mapper.PotentialcustomerMapper">
  <resultMap id="BaseResultMap" type="com.notfound.crm.sys.vo.PotentialcustomerVO">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="age" property="age" />
    <result column="gender" property="gender" />
    <result column="tel" property="tel" />
    <result column="qq" property="qq" />
    <result column="job" property="job" />
    <result column="source" property="source" />
    <result column="seller" property="seller" />
    <result column="inputUser" property="inputuser" />
    <result column="inputTime" property="inputtime" />
    <result column="status" property="status" />
    <result column="positiveTime" property="positivetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, age, gender, tel, qq, job, `source`, seller, inputUser, inputTime, `status`, 
    positiveTime
  </sql>
<!--  根据id查询-->
  <select id="selectOne" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from potentialcustomer
    where id = #{id}
  </select>

  <!--分页以及模糊查询-->
  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from potentialcustomer
    <where>
            <if test="type != null">
                (status = #{type})
            </if>
            <if test="startTime != null">
              and  (inputTime &gt; #{startTime})
            </if>
            <if test="endTime != null">
              and  (inputTime &lt; #{endTime})
            </if>
            <if test="keyword != null and keyword != ''">
              and  (name like concat('%',#{keyword},'%') or tel like concat('%',#{keyword},'%'))
            </if>
    </where>
  </select>

<!--  根据id删除-->
  <delete id="delete">
    delete from potentialcustomer
    where id = #{id}
  </delete>
<!--&lt;!&ndash;  插入一条数据&ndash;&gt;-->
<!--  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.notfound.crm.sys.vo.PotentialcustomerVO" useGeneratedKeys="true">-->
<!--    insert into potentialcustomer (`name`, age, gender, tel, qq, job, `source`, seller, -->
<!--      inputUser, inputTime, `status`, positiveTime)-->
<!--    values (#{name}, #{age}, #{gender}, #{tel}, #{qq}, #{job}, #{source}, #{seller}, -->
<!--      #{inputuser}, #{inputtime}, #{status}, #{positivetime})-->
<!--  </insert>-->
<!--  选择属性插入数据-->
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.notfound.crm.sys.vo.PotentialcustomerVO" useGeneratedKeys="true">
    insert into potentialcustomer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="job != null">
        job,
      </if>
      <if test="source != null">
        `source`,
      </if>
      <if test="seller != null">
        seller,
      </if>
      <if test="inputuser != null">
        inputUser,
      </if>
      <if test="inputtime != null">
        inputTime,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="positivetime != null">
        positiveTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name},
      </if>
      <if test="age != null">
        #{age},
      </if>
      <if test="gender != null">
        #{gender},
      </if>
      <if test="tel != null">
        #{tel},
      </if>
      <if test="qq != null">
        #{qq},
      </if>
      <if test="job != null">
        #{job},
      </if>
      <if test="source != null">
        #{source},
      </if>
      <if test="seller != null">
        #{seller},
      </if>
      <if test="inputuser != null">
        #{inputuser},
      </if>
      <if test="inputtime != null">
        #{inputtime},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="positivetime != null">
        #{positivetime},
      </if>
    </trim>
  </insert>
<!--  选择属性修改数据-->
  <update id="update">
    update potentialcustomer
    <set>
      <if test="name != null">
        `name` = #{name},
      </if>
      <if test="age != null">
        age = #{age},
      </if>
      <if test="gender != null">
        gender = #{gender},
      </if>
      <if test="tel != null">
        tel = #{tel},
      </if>
      <if test="qq != null">
        qq = #{qq},
      </if>
      <if test="job != null">
        job = #{job},
      </if>
      <if test="source != null">
        `source` = #{source},
      </if>
      <if test="seller != null">
        seller = #{seller},
      </if>
      <if test="inputuser != null">
        inputUser = #{inputuser},
      </if>
      <if test="inputtime != null">
        inputTime = #{inputtime},
      </if>
      <if test="status != null">
        `status` = #{status},
      </if>
      <if test="positivetime != null">
        positiveTime = #{positivetime},
      </if>
    </set>
    where id = #{id}
  </update>
    <resultMap id="baseResultMap2" type="com.notfound.crm.sys.vo.QueryPageReportVO">
            <result column="name" property="name"/>
            <result column="num" property="num"/>
    </resultMap>
<!--报表的模糊查询-->
    <select id="queryPageReport" resultMap="baseResultMap2">
        select count(potentialcustomer.id) as num,employee.name as name
        from potentialcustomer
        inner join employee
        on potentialcustomer.inputUser = employee.id
        <where>

            <if test="deptId != null ">
                employee.dept = #{deptId}
            </if>

            <if test="startTime !=null">
               and potentialcustomer.inputTime &gt; #{startTime}
            </if>

            <if test="endTime !=null">
              and  potentialcustomer.inputTime &lt; #{endTime}
            </if>

            <if test="keyword != null ">
              and  employee.name like concat('%',#{keyword},'%')
            </if>

        </where>

            GROUP BY employee.name

    </select>

<!--&lt;!&ndash;  根据id修改数据&ndash;&gt;-->
<!--  <update id="update">-->
<!--    update potentialcustomer-->
<!--    set `name` = #{name},-->
<!--      age = #{age},-->
<!--      gender = #{gender},-->
<!--      tel = #{tel},-->
<!--      qq = #{qq},-->
<!--      job = #{job},-->
<!--      `source` = #{source},-->
<!--      seller = #{seller},-->
<!--      inputUser = #{inputuser},-->
<!--      inputTime = #{inputtime},-->
<!--      `status` = #{status},-->
<!--      positiveTime = #{positivetime}-->
<!--    where id = #{id}-->
<!--  </update>-->
</mapper>